QWidget {
    background-color: #2e2e2e;
    color: white;
    font-size: 16px;
}
QPushButton {
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
QPushButton:checked {
    background-color: #266bf9;
}
QPushButton:hover {
    background-color: #666;
}
QLabel {
    font-size: 18px;
}
QToolBar {
    background: #252525;
    spacing: 8px;
    border-bottom: 1px solid #3c3c3c;
}
